
<div class="form-container">
    <div class="form">
      <h1>New Suggestion</h1>
      <%= form_with(model: suggestion) do |form| %>
        <% if suggestion.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(suggestion.errors.count, "error") %> prohibited this suggestion from being saved:</h2>

            <ul>
              <% suggestion.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.label :Name %>
          <%= form.text_field :user, placeholder: "Enter Name", required: true  %>
        </div>

        <div class="field">
          <%= form.label :Description %>
          <%= form.text_area :body, required: true %>
        </div>

        <%= form.hidden_field :upvotes, value: 0 %>

        <%= form.hidden_field :downvotes, value: 0 %>

        <div class="actions">
          <%= form.submit %>
        </div>
      <% end %>
    </div>
    <img class="form-image" src="https://images.pexels.com/photos/2067178/pexels-photo-2067178.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
</div>
